html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

html,body{ 
    width:100%;
    height:100%;
    background-color: #141720;
    font-size: 16px;
}

html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
    display:block;
    vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
    font-family: "Museo-500";
    background-color: #141720;
    background-image: url('');
    background-position: 50% 50%;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}


.container{
    width: 100%;
    max-width: 940px;
    height: auto;
    background-color: #141720;
    background: transparent;
    margin: 0 auto;
    z-index: 2000;
    position: relative;
}
.formulario{
    max-width: 550px;
    margin:0 auto;
}
.logo_par{
    max-width: 612px;
    width: 100%;
    margin: 0 auto;
    margin-top: 56px;
}
img{
    width: 100%;
}
::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #8a8a8a;
}
:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: #8a8a8a;
}
::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #8a8a8a;
}
:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: #8a8a8a;
}
.form {
    display: inline-block;
    max-width: 221px;
    width: 100%;
    margin-right: 5px;
    border: 0;
    font-size:1.5em;
}
.form {
    width: 100%;
    max-width: 250px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #37393b;
    margin-bottom: 5px;
    color: #8a8a8a;

}
.submit{
    float: right;
    margin-right: 15px;
    color: #08fdd8;
    border: solid 2px #0f7a6f;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: transparent;
    font-size: 2em;
    width: 110px;
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;

}
.direction{
    margin-top: 90px;
    color: #8a8a8a;
    font-size: 1.3em;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
.form_area {
    width: 100%;
    margin-right: 5px;
    border: 0;
    font-size:1.8em;
    max-width: 520px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #37393b;
    margin-bottom: 5px;
    color: #8a8a8a;
}
.container nav a span{
    color: #fff;
    font-size:1.3em;
}
.container nav{
    margin: 0 auto;
    margin-top: 32px;
    max-width: 105px;
}
.container .text{
    max-width: 793px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    color: #00deff;
    font-size: 2em;
    text-align: center;
    margin-bottom: 83px;
}
.container .text_2{
    max-width: 526px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    color: #00deff;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 83px;
}
.advertising{
    color: #08fdd8;
    border: solid 2px #0f7a6f;
    padding-top: 11px;
    padding-bottom: 11px;
    max-width: 360px;
    margin-bottom: 11px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

}
.advertising a{
    font-size: 2em;
    color: #08fdd8;
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
.advertising a:hover{
    color: #fff;
}
.submit:hover{
    color: #fff;
}

.mayusculas{
    text-transform: uppercase;
}

.message{
    padding: 20px 0px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    line-height: 16px;
    text-transform: uppercase;
    border: 2px solid #8a8a8a;
}

.message.message-success{
    color: #33be40;
    border: 2px solid #33be40;
    border-radius: 15px;
}

.message.message-error{
    color: #98012e;
    border: 2px solid #98012e;
    border-radius: 15px;
}