html{
    font-family:"Museo-500";
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size: 16px;
}
body{
    margin:0;
    color:#4a4a4a;
}
header.header_noticias{
    border-bottom: solid 1px #c4e5fc;
    display: flex;
}

.noticias{
    font-family:"ACaslonPro-Regular";
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size: 16px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0tMiAxMEwxMCAtMlpNMTAgNkw2IDEwWk0tMiAyTDIgLTIiIHN0cm9rZT0iIzIyMiIgc3Ryb2tlLXdpZHRoPSI0LjUiPjwvcGF0aD4KPC9zdmc+"),url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGMTkiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMENGIj48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+");
}

a{
    text-decoration: none;
    color: #4a4a4a;
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}

footer .info{
    margin-top: 3em;
    overflow: hidden;
    font-family: 'Open Sans';
    font-size: 10px;
    color: #9d9d9d;
}

footer .info .referencia{
    float: left;
    color: #4a4a4a;
    font-weight:  bold;
}

footer .info .fecha{
    float: right;
    font-size: 14px;
}

h1{
    color: #4a4a4a;
    line-height: 60px;
    display: block;
    font-size: 3em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
    margin-top: 20px;
}

p{
    margin: 0;
}

.mas_notas{
    background-color: #40d3f4;
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.home_visible_2{
    padding-top: 56px
}

.sociales span{
    font-family:"Museo-500";
}
.share{
    color: #55acee
}
.contador{
    padding-left: 16px;
    border-bottom: solid 1px #d9d9d9;
    border-top: solid 1px #d9d9d9;
    margin-bottom: 40px;
    margin-top:30px;
}
.contador table tr td{
    padding-right: 17px;
    max-height: 32px;
}
.numero td{
    font-family:"Museo-500";
    font-size: 2.5em;
    color: #d9d9d9;
}
.comentarios{
    font-family:"Museo-500";
    font-size: 1em;
    color: #d9d9d9;
}
.cuerpo{
    z-index: 1000;
    background-color:  white;
    margin-top: 33%;
    width: 980px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    position: relative;
    height:  100%;
    display:  block;
}

.cuerpo .main-wrapper{
      display: block;
      height: 100%;
      background-color: #fff;
      margin-left: -13000px;
      padding-left: 13000px;
      overflow: hidden;
}

.cuerpo .main-wrapper:before, .cuerpo .main-wrapper:after
{
    content: '';
    display: table;
}

.central{
    width: 66%;
    float: left;
    background: #ffffff;
    padding: 0px 15px;
    position: relative;
    box-sizing: border-box;
}

.derecha{
    background: #ffffff;
    min-width: 314px;
    width: 33%;
    float: right;
    padding: 30px 7px 0px 7px;
    box-sizing: border-box;
    position: relative;
}

.derecha_2.fijo{
    position: fixed;
    top: 30px;
    width: 300px;
}



.publicacion img{
    width: 100%;
}
.publicacion .resumen{
    font-size: 1em;
    font-family: "Open Sans";
    color: #4a4a4a
}
.publicacion p{
    font-size: 1em;
    font-family: "Open Sans";
    margin-left: auto;
    text-align: justify;
    color: #4a4a4a
}
.publicacion{
    margin-left: auto;
    max-width: 100%;
    padding-left: 96px;
    box-sizing: border-box;
}
.publicacion .titulo{
    max-width: 100%;
    margin-left: auto
}

.publicacion figure{
    margin: 0;
    margin-bottom: 18px;
    position: relative;
    text-align: right;
    border: none !important;
    margin-left: -96px;
}

.publicacion .contenido-publicacion iframe{
    margin: 0;
    margin-bottom: 18px;
    position: relative;
    text-align: right;
    border: none !important;
    margin-left: -96px;
}

.head_noticias figure{
    max-width: 173px;
    width: 100%;
    -webkit-margin-end: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    margin-right: 70%;
    margin-left: auto;
}
.head_noticias{
    background-color: #2a2a2a;
    border-bottom: solid 0px #c4e5fc;
    display: block;
}
.publicidad_head{
    width: 100%;
    max-width: 733px;
    margin: 0 auto;
}
a:hover{
    color: #53b4f5;
}
.space{
    width: 100%;
    max-width: 700px;
}
.home_img{
    width: 100%;
    max-width:36px;
    display: inline-block;
    margin-left: auto;
}
.home_img img{
}
.home_img img:hover{
    background-image: url("../img/home_hover.png");
}
.head_contact{
    display: inline-block;
    width: 100%;
    max-width: 220px;
    vertical-align: super;
    padding-top: 12px;
    margin: 0 auto;
}
.home_visible{
    padding-top: 90px;
}
.sociales{
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 11px;
    padding-bottom: 49px;
    border-bottom: solid 1px #b8b8b8;
    border-top: solid 1px #b8b8b8;
}
.home_visible p{
    max-width: 846px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 77px;
}
.home_visible_2 p{
    max-width: 846px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 77px;
}
.home_visible figure{
    max-width: 633px;
    margin: auto;
    margin-bottom: 93px;
}
.home_visible_2 figure{
    max-width: 403px;
    margin: auto;
    margin-bottom: 93px;
}
.home_visible figure img{
    width: 100%;
}
.home_visible_2 figure img{
    width: 100%;
}
.social_links{
    max-width: 213px;
    margin: 0 auto;
    display: flex;
}
.social_links a{
    margin: 0 auto
}
.social_links a img:hover{
    background: #cbcac2;
    -webkit-border-radius: 70px 70px;  /* Safari  */
    -moz-border-radius: 70px 70px;    /* Firefox */
}
.social_links a img{
    -webkit-border-radius: 70px 70px;  /* Safari  */
    -moz-border-radius: 70px 70px;    /* Firefox */
    -webkit-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}
.contacto_visible{
    background-color: #53b4f5;
    padding-bottom: 67px;
    padding-top: 55px;
}
.contacto_visible figure{
    max-width: 403px;
    margin: 0 auto;
    margin-bottom:62px;
}
.form_contact{
    margin: 0 auto;
    max-width: 748px;
    width: 100%;
}
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #fff;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: #fff;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #fff;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: #fff;
}
.form_contact tr td input{
    color: #fff;
    background-color: #53b4f5;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    max-width: 360px;
    width: 100%;
    font-size: 1.05em
}
.formulario_visible .social_links a img{
    max-width: 59px
}
.formulario_visible .social_links{
    max-width: 150px;
}
.form_contact tr td .submit{
    color: #ffffff;
    background-color: #0165a8;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    max-width: 247px;
    width: 100%;
    font-size: 1.5em;
    float: right;
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
.form_contact tr td .submit:hover{
    color: #000;
}
.form_contact tr td textarea{
    color: #fff;
    background-color: #53b4f5;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    font-size: 1.05em
}
.form_contact tr td{
    padding-right: 27px;
    padding-bottom: 27px;
}
.contacto_visible figure img{
    width: 100%
}
.media_kit{
    border-top: solid 1px #c4e5fc;
    border-bottom: solid 1px #c4e5fc;
    max-width: 264px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    margin: 0 auto
}
.img_cabezera img{
    width: 100%;
}
.media_kit a{
    color: #fff;
    font-size: 1.2em
}
.media_kit a:hover{
    color: #0165a8;
}
.img_cabezera{
    width: 100%;
    max-height: 588px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left: 0;
    max-width: 100%;
}
.formulario_visible p{
    text-align: center;
    max-width: 797px;
    margin: 0 auto;
    padding-top:27px;
    padding-bottom:27px;
    font-size: 1.2em;
}
.text_headform{
    text-align: center;
    padding-bottom: 23px;
    padding-top: 23px;
    border-bottom: solid 1px #53b4f5;
    font-size: 1.2em
}
.facebook{
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #ffffff;
    background: #3b5998;
}

.twitter{
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #ffffff;
    background: #55acee;
}
.shares{
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #ffffff;
    background: #333333;
}
.comentarios_face{
    /*background-color: #919191;*/
    margin-top: 1em;
}
.sociales_2{
    font-family:"Museo-500";
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.sociales_2 .red-social{
    text-align: left;
    width: 75%;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.sociales_2 .red-social .icon{
    margin-left: 20px;
}

.sociales_2 .red-social.facebook,
.sociales_2 .red-social.twitter,
.sociales_2 .red-social.shares
{
    padding: 15px 0px;
}

.sociales a div{
    display: inline-block;
}
.publicidad_der{
    padding: 0px;
}

.compartir-url .group-url-publicacion{
    width: 100%;
}

.compartir-url .group-url-publicacion .url-publicacion,
.compartir-url .group-url-publicacion .copy{
    display: inline-block;
    vertical-align: top;
}

.compartir-url .group-url-publicacion .url-publicacion{
    border: solid 1px #bcbcbc;
    padding: 7px 5px;
    color: #55acee;
    width: 70%;
    
}

.compartir-url .group-url-publicacion .copy{
    background-color: #40d3f4;
    color: #ffffff;
    font-size: 1em;
    line-height: 1em;
    padding: 7px 5px;
    float: right;
}

.sociales_2 a{
    color: #55acee;
    text-align: right;
    margin-left: auto;
    padding-top: 10px;
}

.sociales_2 .share{
    padding: 10px 0px 5px;
    display: block;
}

.top_cabezera{
    margin-top: 82px;
}

.fixed
{
    position:fixed; 
    top:0;
    z-index: 1;
    width: 100%;
}

.margin-top{
    margin-top: 16px;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

.flex-container .flex-a{
    width: 32%;
    font-family:"Museo-500";
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    opacity: 1;
    text-align: center;
}

.flex-container .flex-a:hover{
    color: white;
    opacity: .8;
}

.list-redes-sociales{
    padding: 0px;
    margin: 0px;
}

.list-redes-sociales .item-red-social{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px;
}

.list-redes-sociales .item-red-social a.js-social-button{
    background-color: black;
    color: white;
    padding: 20px;
    display: block;
    border-radius: 50%;
    font-size: 20px;
    margin: 3px;
}


@media (max-width: 768px){
    .central{
        width: 55%;
        padding: 0px 15px;
    }
    .derecha{
        padding: 30px 7px 0px 7px;
        margin-right: 20px;
    }

    .publicacion{
        padding-left: 0px;
    }

    .publicacion figure{
        margin-left: 0px;
    }

    .publicacion .contenido-publicacion iframe{
        margin-left: 0px;
    }

    .sociales{
        margin: 0px;
        padding: 11px 0px 20px;
    }
    .list-redes-sociales .item-red-social a.js-social-button{
        width: auto;
        margin: 10px;
    }
}

@media (min-width: 481px) and (max-width: 975px) {
    /* Estilos para un tamaño entre 481px y 975px */
    .sociales_2 .facebook{
        width: 100%;
        margin-bottom: 20px;
    }
    .sociales_2 .twitter{
        width: 100%;
        margin-bottom: 20px;
    }
    .sociales_2 .shares{
        width: 100%;
        margin-bottom: 20px;
    }
    .list-redes-sociales .item-red-social a.js-social-button{
        width: auto;
        margin: 10px;
    }
}




@media (max-width: 640px) {
    .head_noticias figure {
        margin: 0 auto
    }
    .cuerpo{

        width: 100%;
        min-width: 100%;

    }
    h1{
        font-size: 1.5em;
        font-weight: bold;
    }
    .resumen{
        border-bottom: solid 1px #d8d8d8;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .sociales a div{
        margin-bottom: 20px;
    }
    .facebook{
        width: 100%
    }
    .twitter{   
        width: 100%;    
    }
    .shares{
        width: 100%;
    }
    .fecha{
        display: none;
    }
    .derecha{
        display: none;
    }
    .central{
        width: 100%;
        min-width: 100%;
    }
    .contador{
        display: none;
    }
    /* Estilos para un tamaño menor o de 480px */
    .head_noticias{
        display: flex;
    }
    .publicidad_head{
        display: none;
    }
    .space{
        width: 0%;
    }
    .flex-container .flex-a{
        font-size: .7em;
    }
    .list-redes-sociales .item-red-social a.js-social-button{
        width: auto;
        margin: 10px;
    }
}

.no-fixed{
    position: relative;
}