html{
    font-family:"Museo-500";
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size: 16px;
}
body{
    margin:0;
    color:#4a4a4a;
}
header{
    border-bottom: solid 1px #c4e5fc;
    display: flex;
}
.noticias{
    font-family:"ACaslonPro-Regular";
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size: 16px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0tMiAxMEwxMCAtMlpNMTAgNkw2IDEwWk0tMiAyTDIgLTIiIHN0cm9rZT0iIzIyMiIgc3Ryb2tlLXdpZHRoPSI0LjUiPjwvcGF0aD4KPC9zdmc+"),url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGMTkiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMENGIj48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+");
}
a{
    text-decoration: none;
    color: #4a4a4a;
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
h1{
    color: #4a4a4a;
    line-height: 60px;
    display: block;
    font-size: 3em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
    margin-top: 20px;
}
p{
    margin: 0;
}
.mas_notas{

    margin-top: 100px;
    background-color: #40d3f4;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    font-size: 1.2em;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff
}
.home_visible_2{
    padding-top: 56px
}
.fecha{
    text-align: right;
    margin-top: 236px;
    margin-right: 13px;
}
.sociales span{
    font-family:"Museo-500";
}
.share{
    color: #55acee
}
.contador{
    padding-left: 16px;
    border-bottom: solid 1px #d9d9d9;
    border-top: solid 1px #d9d9d9;
    margin-bottom: 40px;
    margin-top:30px;
}
.contenido img{
    width: 100%;
}
.contador table tr td{
    padding-right: 17px;
    max-height: 32px;
}
.numero td{
    font-family:"Museo-500";
    font-size: 2.5em;
    color: #d9d9d9;
}
.comentarios{
    font-family:"Museo-500";
    font-size: 1em;
    color: #d9d9d9;
}
.contenido .resumen{
    font-size: 1em;
    font-family: "Open Sans";
    color: #4a4a4a
}
.contenido p{
    font-size: 1em;
    font-family: "Open Sans";
    max-width: 585px;
    margin-left: auto;
    text-align: justify;
    color: #4a4a4a
}
.contenido{
    margin-left: auto;
    max-width: 687px;
}
.contenido .titulo{
    max-width: 585px;
    margin-left: auto
}
.cuerpo{
    position: relative;
    width: 87%;
    display: flex;
    margin-right: auto;
}
.derecha{
    max-width:300px;
}
.derecha{
    float: right;
    width: 30%;
    background: #ffffff;
    max-width:320px;
}
.central{
    width: 70%;
    float: left;
    background: #ffffff
}
.head_noticias figure{
    max-width: 173px;
    width: 100%;
    -webkit-margin-end: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    margin-right: 70%;
    margin-left: auto;
}
.head_noticias{
    background-color: #2a2a2a;
    border-bottom: solid 0px #c4e5fc;
    display: block;
}
.publicidad_head{
    width: 100%;
    max-width: 733px;
    margin: 0 auto;
}
a:hover{
    color: #53b4f5;
}
.space{
    width: 100%;
    max-width: 700px;
}
.home_img{
    width: 100%;
    max-width:36px;
    display: inline-block;
    margin-left: auto;
}
.home_img img{
}
.home_img img:hover{
    background-image: url("../img/home_hover.png");
}
.head_contact{
    display: inline-block;
    width: 100%;
    max-width: 220px;
    vertical-align: super;
    padding-top: 12px;
    margin: 0 auto;
}
.home_visible{
    padding-top: 90px;
}
.sociales{
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 11px;
    padding-bottom: 49px;
    border-bottom: solid 1px #b8b8b8;
    border-top: solid 1px #b8b8b8;
}
.home_visible p{
    max-width: 846px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 77px;
}
.home_visible_2 p{
    max-width: 846px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 77px;
}
.home_visible figure{
    max-width: 633px;
    margin: auto;
    margin-bottom: 93px;
}
.home_visible_2 figure{
    max-width: 403px;
    margin: auto;
    margin-bottom: 93px;
}
.home_visible figure img{
    width: 100%;
}
.home_visible_2 figure img{
    width: 100%;
}
.social_links{
    max-width: 213px;
    margin: 0 auto;
    display: flex;
}
.social_links a{
    margin: 0 auto
}
.social_links a img:hover{
    background: #cbcac2;
    -webkit-border-radius: 70px 70px;  /* Safari  */
    -moz-border-radius: 70px 70px;    /* Firefox */
}
.social_links a img{
    -webkit-border-radius: 70px 70px;  /* Safari  */
    -moz-border-radius: 70px 70px;    /* Firefox */
    -webkit-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}
.contacto_visible{
    background-color: #53b4f5;
    padding-bottom: 67px;
    padding-top: 55px;
}
.contacto_visible figure{
    max-width: 403px;
    margin: 0 auto;
    margin-bottom:62px;
}
.form_contact{
    margin: 0 auto;
    max-width: 748px;
    width: 100%;
}
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #fff;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: #fff;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #fff;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: #fff;
}
.form_contact tr td input{
    color: #fff;
    background-color: #53b4f5;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    max-width: 360px;
    width: 100%;
    font-size: 1.05em
}
.formulario_visible .social_links a img{
    max-width: 59px
}
.formulario_visible .social_links{
    max-width: 150px;
}
.form_contact tr td .submit{
    color: #ffffff;
    background-color: #0165a8;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    max-width: 247px;
    width: 100%;
    font-size: 1.5em;
    float: right;
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
.form_contact tr td .submit:hover{
    color: #000;
}
.form_contact tr td textarea{
    color: #fff;
    background-color: #53b4f5;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    font-size: 1.05em
}
.form_contact tr td{
    padding-right: 27px;
    padding-bottom: 27px;
}
.contacto_visible figure img{
    width: 100%
}
.media_kit{
    border-top: solid 1px #c4e5fc;
    border-bottom: solid 1px #c4e5fc;
    max-width: 264px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    margin: 0 auto
}
.img_cabezera img{
    width: 100%;
}
.media_kit a{
    color: #fff;
    font-size: 1.2em
}
.media_kit a:hover{
    color: #0165a8;
}
.img_cabezera{
    width: 100%;
    max-height: 588px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left: 0;
    max-width: 100%;
}
.formulario_visible p{
    text-align: center;
    max-width: 797px;
    margin: 0 auto;
    padding-top:27px;
    padding-bottom:27px;
    font-size: 1.2em;
}
.text_headform{
    text-align: center;
    padding-bottom: 23px;
    padding-top: 23px;
    border-bottom: solid 1px #53b4f5;
    font-size: 1.2em
}
.facebook{
    width: 32%;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #ffffff;
    background: #3b5998;
}
.twitter{
    width: 32%;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #ffffff;
    background: #55acee;
}
.shares{
    width: 32%;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #ffffff;
    background: #333333;
}
.comentarios_face{
    background-color: #919191;
    margin-top: 40px;
}
.sociales_2{
    font-family:"Museo-500";
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 11px;
    padding-bottom: 49px;
}
.sociales_2 .facebook{
    text-align: left;
    width: 75%;
    margin-bottom: 20px;
}
.sociales_2 .twitter{
    text-align: left;
    width: 75%;
    margin-bottom: 20px;
}
.sociales_2 .shares{
    text-align: left;
    width: 75%;
    margin-bottom: 20px;
}
.sociales_2 input{
    width: 90%;
    border: solid 1px #bcbcbc;
    padding: 5px;
    color: #55acee;
}
.sociales a div{
    display: inline-block;
}
.publicidad_der{
    padding-right: 15px;
    padding-left:15px;
    padding-top: 20px;
}
.sociales_2 .copy{
    text-align: right;
    padding-right: 20px;
}
.sociales_2 a{
    color: #55acee;
    text-align: right;
    margin-left: auto;
    padding-top: 10px;
}
@media (min-width: 481px) and (max-width: 975px) {
    /* Estilos para un tamaño entre 481px y 975px */
    .sociales_2 .facebook{
        width: 100%;
        margin-bottom: 20px;
    }
    .sociales_2 .twitter{
        width: 100%;
        margin-bottom: 20px;
    }
    .sociales_2 .shares{
        width: 100%;
        margin-bottom: 20px;
    }
}
.top_cabezera{
    margin-top: 82px;
}
.fixed
{
    position:fixed; 
    top:0;
    z-index: 1;
    width: 100%;
}
.fijo{
    position: fixed;
    top: 0px;
}
.cuerpo{

    width: 100%;

}
@media (max-width: 480px) {
    .head_noticias figure {
        margin: 0 auto
    }
    .cuerpo{

        width: 100%;

    }
    .contenido p{
        padding-left: 10px;
        padding-right: 10px;
    }
    h1{
        font-size: 1.5em;
        font-weight: bold;
    }
    .resumen{
        border-bottom: solid 1px #d8d8d8;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .sociales a div{
        margin-bottom: 20px;
    }
    .facebook{
        width: 100%
    }
    .twitter{
        width: 100%;	
    }
    .shares{
        width: 100%;
    }
    .fecha{
        display: none;
    }
    .derecha{
        display: none;
    }
    .central{
        width: 100%;
    }
    .contador{
        display: none;
    }
    /* Estilos para un tamaño menor o de 480px */
    .head_noticias{
        display: flex;
    }
    .publicidad_head{
        display: none;
    }
    .space{
        width: 0%;
    }
    .form_contact tr td{
        padding-right: 1px;
        padding-bottom: 1px;
    }
    .form_contact tr td input {
        padding-left: 0px;
        font-size: 0.7em
    }
    .form_contact tr td textarea{
        padding-left: 0px;
        font-size: 0.7em
    }
    .form_contact tr td .submit{
        max-width: 100%;
    }
}

.no-fixed{
    position: relative;
}