<header class="head-noticias {{ (noFixed)?'no-fixed': '' }}">
    <div class="publicidad-head"><img src="http://placehold.it/731x92/2A2A2A/2A2A2A" alt=""></div>
    <figure class="logo logo-movil"><a href="{{path('homepage')}}"><img src="/images/muyvisible_mini_logo.png" alt=""/></a></figure>
    <figure class="logo logo-grande"><a href="{{path('homepage')}}"><img src="/images/logo_grande_pagina.png" alt=""></a></figure>
    <div class="head-noticias-redes-sociales">
        <ul class="list list-head-noticias-redes-sociales">
            <li class="item item-head-noticias-red-social"><a href=""><span class="flaticon-facebook"></span></a></li>
            <li class="item item-head-noticias-red-social"><a href=""><span class="flaticon-twitter"></span></a></li>
        </ul>
    </div>
    <nav class="menu">
        <ul class="list list-menu">
            <li class="item item-menu"><a href="{{path('contacto')}}">Contacto & adversiting</a></li>
            <li class="item item-menu item-menu-red-social"><a href=""><span class="flaticon-facebook"></span></a></li>
            <li class="item item-menu item-menu-red-social"><a href=""><span class="flaticon-twitter"></span></a></li>
        </ul>
    </nav>
</header>